[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "*"
certifi = "*"
chardet = "*"
click = "*"
coreapi = "*"
coreapi-cli = "*"
coreschema = "*"
django-crispy-forms = "*"
djangorestframework = "*"
djangorestframework-api-key = "*"
idna = "*"
importlib-metadata = "*"
itypes = "*"
pytz = "*"
requests = "*"
sqlparse = "*"
uritemplate = "*"
urllib3 = "*"
zipp = "*"
Django = "*"
Jinja2 = "*"
Markdown = "*"
MarkupSafe = "*"
Pillow = "*"
Pygments = "*"
PyYAML = "*"
gunicorn = "*"
django-heroku = "*"
drf-writable-nested = "*"

[requires]
python_version = "3.7"
