asgiref
certifi
chardet
click
coreapi
coreapi-cli
coreschema
Django
django-crispy-forms
djangorestframework
djangorestframework-api-key
idna
importlib-metadata
itypes
Jinja2
Markdown
MarkupSafe
Pillow
Pygments
pytz
PyYAML
requests
sqlparse
uritemplate
urllib3
zipp
